
.vs/cSharp2DCharacterController/v15/Server/sqlite3/storage.ide-wal
.vs/cSharp2DCharacterController/v15/Server/sqlite3/storage.ide-shm
.vs/cSharp2DCharacterController/v15/Server/sqlite3/storage.ide
.vs/cSharp2DCharacterController/v15/Server/sqlite3/db.lock
.mono/temp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
.mono/temp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
.mono/temp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
.mono/temp/obj/Debug/cSharp2DCharacterController.csprojAssemblyReference.cache
.mono/temp/obj/Debug/cSharp2DCharacterController.csproj.CoreCompileInputs.cache
.mono/temp/obj/Debug/cSharp2DCharacterController.AssemblyInfo.cs
.mono/metadata/ide_messaging_meta.txt
.mono/assemblies/Debug/GodotSharpEditor.xml
.mono/assemblies/Debug/GodotSharpEditor.pdb
.mono/assemblies/Debug/GodotSharpEditor.dll
.mono/assemblies/Debug/GodotSharp.xml
.mono/assemblies/Debug/GodotSharp.pdb
.mono/assemblies/Debug/GodotSharp.dll
.mono/assemblies/Debug/api_hash_cache.cfg
.mono/temp/obj/Debug/cSharp2DCharacterController.csprojAssemblyReference.cache
.mono/temp/obj/Debug/cSharp2DCharacterController.csproj.CoreCompileInputs.cache
.mono/temp/obj/Debug/cSharp2DCharacterController.AssemblyInfo.cs
.mono/metadata/ide_messaging_meta.txt
.mono/assemblies/Debug/GodotSharpEditor.xml
.mono/assemblies/Debug/GodotSharpEditor.pdb
.mono/assemblies/Debug/GodotSharpEditor.dll
.mono/assemblies/Debug/GodotSharp.xml
.mono/assemblies/Debug/GodotSharp.pdb
.mono/assemblies/Debug/GodotSharp.dll
.mono/assemblies/Debug/api_hash_cache.cfg
